#parent {
    background-color: lightblue;
    width: 80%;
    margin-left: auto ;
    margin-right: auto; 
} 
header {
    display: grid; 
    /* text-align: center;  */
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
    "div"
    "aside"
    "section" 
    ;
} 
.sub1 {
    grid-area: div;
    background-color: aqua; 
    display: flex; 
}
.sub2 {
    grid-area: aside; 
    /* display: grid;     */
    border-style: groove; 
    /* max-height: fit-content;  */
    /* grid-template-columns: auto auto auto auto auto auto auto;      */
     
    background-color: rgb(99, 112, 112);   
}   
aside ul {
    display: flex ;    
    list-style: none; 
    margin: 0;
    padding: 0;  
    /* overflow: hidden;  */

} 
aside ul li a {
    /* margin-right: 15px;   */
    padding: 1rem;  
    float: left;  
    /* text-align: center ; */
} 
aside ul li a {
    /* display: block;  */
}
aside ul li:hover {
    color: aliceblue;
    background-color: black; 
    
}

.sub3 {
    grid-area: section; 
    display: flex;  
    background-color: blueviolet;
}
/* .subhead1 {
    background-color: greys;
    display: flex; 
    /* width: 100%;  
} 
.subhead2 {
    display: flex; 
    color: white;
    background-color: black;  */

h3 {
    padding: 0.2rem 0.8rem;
}

.subhead3 {
    background-color: white;
    color: black;
    display: flex; 
}
.a1 {
    background-color: aqua;
    width: 100%;
}
.a2 {
    background-color: antiquewhite;
    width: 100%;
}
.a3 {
    background-color: aquamarine;
    width: 100%;
}
.content {
    display: grid;
    grid-template-columns: auto auto ;
    /* height: 100vh;  */
    
}
.subcontent1 {
    background-color:  rgb(185, 202, 202); 
    grid-column: 1/3; 
    grid-template-rows: auto auto;


}
.subcontent2 {
    background-color: rgb(245, 240, 250);  

    grid-column: 3/13;
    grid-template-columns: auto ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ; 
    grid-template-areas: 
    " section   "
    "main"
    "article" 
    "aside"
    "content"
    ;
    
   

}
.sec1 {
    grid-area: section ; 
    display: grid;
    grid-template-columns: auto auto; 
    background-color: rgb(185, 202, 202);
} 
.sec2 {
    grid-area: main;
    background-color: rgb(185, 202, 202) ;
   
}
.sec3 {
    grid-area: article;
    display: grid;
    grid-template-columns: auto auto; 
    background-color: rgb(185, 202, 202); 
}
.sec4 {
    grid-area: aside; 
    display: grid;
    grid-template-columns: auto auto; 
    background-color: rgb(185, 202, 202); 
    
}
.sec5 {
    grid-area: content; 
    display: grid;
    grid-template-columns: auto auto; 
    background-color: rgb(185, 202, 202);

}
/* .b1 {
    border-style: dashed;
    /* width: 300px; */
    /* max-height: 300px; 
    margin-right: 10px;
    margin-left: 10px;
}
.b2 {
    border-style: dotted;
    margin-right: 10px;
    margin-left: 10px;
    /* width: 300px; */
    /* max-height: 300px; 
}
.aa {
    display: grid;
    grid-template-columns: auto auto;
    
}
.whole {
    border-style: double;
    display: grid;
    grid-template-columns: auto;
    margin: 10px;


} */
.short {
    border-style: groove;
    margin: 10px ;
}
.recent {
    display: flex; 
    text-align: center;
    justify-content: space-between; 
    
}   
table ,td {
    border-style: groove; 
   
    margin: 10px;  
    width: 90%;
} 
th {
    justify-content: start; 
    text-align: start; 
   
}  
footer {
    background-color: rgb(79, 76, 76); 
    color: aliceblue; 
    text-align: center;  
}
a {
    text-decoration: none;
    color: rgb(137, 137, 233);
} 
footer a {
    color: aliceblue;
}
@media only screen  and (min-width: 600px) {
#parent {
    /* background-color: yellow;  */
}
.content {
    /* background-color: yellow; */
}
.subcontent1 {
    /* background-color: yellow;  */
}
}
@media only screen  and (min-width: 900px) {
    #parent {
        /* background-color: yellow;  */
    }
    .content {
        /* background-color: yellow;  */
    }
    .subcontent1 {
        /* background-color: orangered;  */
    }
    }
    
        
    
