* {
    box-sizing: border-box;
}
.container {
    /* max-width: 1026px;  */
     float: left;
      /* width: 50%;    */ 
      /* text-decoration: none; */

}
 ul {
    padding: 0; 
    margin: 0;
    background-color: black; 
    overflow: hidden;
    position: fixed; 
    width: 100%;
    top: 0;
    /* text-decoration: none;  */
}
li {
    float: left;
}  
a {
    text-decoration: none;
}
li a {
    display: inline-block;
     text-align: center; 
     padding: 14px 16px; 
     color: white; 
} 
li a:hover {
    background-color: red;
} 
.active {
    background-color: blueviolet;
}

