* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
.container {
    /* max-width: 1026px; */
    background-color: rgb(211, 139, 45);
    height: 100vh;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}
a {
    padding: 0px 10px;
    color: black;
    text-decoration: none;

}
.body {
    /* background-color: aqua;  */
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    /* padding-top: 20px ;  */
}
.tesla {
    padding-top: 60px;
}
button {
    padding: 10px;
    margin: 10px;
    background-color: brown;
}