* {
    box-sizing: border-box;
}


.body {
     border-style: dotted;
     /* max-width: 1200px; */
    background-color: aquamarine; 
    display: grid; 
    border: 3px;
    gap: 5px;
    margin: 14px; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr 2fr 2fr 1fr;  
    grid-template-areas: 
    "header header header "
        "sidebar main main"
        " sidebar section content "
        "footer footer footer "
    ; 
}
.header{
    grid-area: header; 
    text-align: center;
    background-color: blueviolet;
}
.sidebar {
 grid-area: sidebar;
}
.main {
    grid-area: main;
}
.content {
    grid-area: content;
} 
.section {
    grid-area: section;
}
.footer {
    grid-area: footer; 
    text-align: center; 

} 
@media only screen and (max-width:600px)   {
    .body{
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 2fr 1fr 2fr 2fr 1fr ;
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "content"
        "section"
        "footer";
    }
    
    
}







