* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'kumbh sans', sans-serif
}


.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky; 
    top: 0;
    z-index: 999;

}

.navcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}
#navlogo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff8844,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-Clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;

}
.navmenu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navitem {
    height: 80px;
}
#navlink {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}
.navbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%; 
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;

}
#button:hover {
background: #4837ff;
transition: all o.3s ease ; 

}
#navlink:hover {
color: #f77862;


}

@media screen and ( max-width: 900px) {
    .navcontainer {
        
    }
}