
.yeah {
    background-color: bisque;
    width: 1200px;
    height: 1200px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    border-style: double;
    margin: 50px;

}
body {
    border-style: dashed;
    background-color: brown;
    
}
.container {
    width: 1400px;
    height: 1400px;
    border-style: dotted ;
    margin: 40px;
    background-color: aqua;
}
