.container {
    /* background-image:url(images/background.svg) ;  */
    background-repeat: no-repeat;
    height: 2000px;  
    background-size: contain;
    background-position: top;
    background-color: lightblue;
    position: relative;
    top: 100%;

}
.main_heading {
    background-color: white;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    /* background-image:url(images/background.svg) ;  */
    /* height:800px ; */
    background-repeat: no-repeat;
}

.first { 
    display: flex; 
    align-items: center; 
}
.header {
    display: flex;
    justify-content: space-between;
}
a[href = "#"] {
    margin: 20px;
    text-decoration: none;
    color: black;

}
.third {
    display: flex;
    gap: 30px;
}
.box {
    background-color: rgba(241, 236, 231, );
    margin-top: 200px;
    margin-right: 120px;
    margin-left: 600px;
    margin-bottom: 10px;
    padding: 15px;
    border-style: dotted; 
    
    /* box-sizing: content-box; */
    /* background-position: center;  */
    /* max-height: max-content;  */
     
}
h3 {
    font-size: 20;
    color: chocolate;
    
}
h4 {
    font-size: 28px;
    color: brown;
}
p {
    font-size: 18px;
    color: chocolate;
}


button:hover {
    background-color: white; 
    
}
button {
    background-color: brown;
}

 /*h5 {
    background-color: bisque;
    margin-left:10px ;
    margin-right: 400px;
} */


