.container {
    border-style: groove;
    /* max-width: max-content;  */
    background-color: green;
    text-align: center;
    padding: 10%;
    margin: 20%; 
    color: aliceblue;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: goldenrod;
}
#msg1 {
    font-style: italic;
}


button {
    background-color: goldenrod; 
    width: 150px;
    color: #016f32; 
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold; 
    border: none;
    border-radius: 2px; 
    margin-bottom: 4px;


}