* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: auto;
    border-style: groove;
    max-width: 200px;
    height: 300px;
    padding: 3%;
    margin: 20%; 
    background:gray;
}
button {
    padding: 3%;
    margin: 3%;
    background-color: rgb(150, 140, 116);
    
}